main{
   height: calc(100vh - 100px);
   background-color: rgb(54, 54, 54);
   padding-top: 50px;
   .container{
       .row{
           .card-movie{
               width: calc(100% / 5);
               height: 300px;               
               padding: 10px;
               .foto-container{
                    width: 100%;
                    height: 250px;
                    position: relative;
                    .hover-ciao{
                        position: absolute;
                        opacity: 0;
                        &:hover{
                            opacity: 1;
                        }
                    }
                   .cover{
                       width: 100%;
                       height: 100%;
                        img{
                        opacity: 1;
                        width: 100%;
                        height: 100%;
                            &:hover{
                                opacity: 0;
                            }
                        }
                    }
               }
               .title{
                   padding-top: 5px;
                   color: white;
                   font-size: 18px;
               }
           }
       }
   }
}